* { box-sizing: border-box; }

:root {
  --aligner-size: 460px;
  --aligner-column: 100%;
}

/*  --  CONTAINERS  --  */
.aligner__start {
  width: calc( var(--aligner-size) - 20px);
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.a__col-10 {
  position: relative;
  width: 10%;
  padding: 0 10px;
}

.a__col-20 {
  position: relative;
  width: 20%;
  padding: 0 10px;
}

.a__col-30 {
  position: relative;
  width: 30%;
  padding: 0 10px;
}

.a__col-40 {
  position: relative;
  width: 40%;
  padding: 0 10px;
}

.a__col-50 {
  position: relative;
  width: 50%;
  padding: 0 10px;
}

.a__col-60 {
  position: relative;
  width: 60%;
  padding: 0 10px;
}

.a__col-70 {
  position: relative;
  width: 70%;
  padding: 0 10px;
}

.a__col-80 {
  position: relative;
  width: 80%;
  padding: 0 10px;
}

.a__col-90 {
  position: relative;
  width: 90%;
  padding: 0 10px;
}

.a__col-100 {
  position: relative;
  width: 100%;
  padding: 0 10px;
}

/* --  OTHER DEVICES  --  */
/* --  EXTRA LARGE - xl  --  */
@media (min-width: 1321px) {}

/* --  LARGE - lg  --  */
@media (min-width: 1211px) and (max-width: 1320px) {}

/* --  MEDIUM - md  --  */
@media (min-width: 961px) and (max-width: 1210px) {}

/* --  SMALL - sm  --  */
@media (min-width: 461px) and (max-width: 960px) {}

/* --  EXTRA SMALL - xs  --  */
@media (max-width: 460px) {
  :root {
    --aligner-size: 100vw;
  }

  .a__xs-100 { width: 100%; }

}